*{
    margin: 0;
    padding: 0;
}
.container{
    width:100%;
    height: 100vh;
    position: relative;
}

.white-background{
    height: 60%;
    background-color: white;
}

.black-background{
    height: 40%;
    background-color: black;
}

.button-feedback{
    width: 868px;
    height: 120px;
    background-color: #ECDAC4;
    border-radius: 100px;
    position: absolute;
    top: calc(60vh - 60px);
    transform:translateX(calc((100vw - 868px) / 2)) ;
    /* transform: translate(calc((100vw - 868px) / 2), calc(60vh - 60px)); */
}

.capuchino img{
    
}